---
import { Picture } from 'astro:assets';
import ProfilePicture from '../assets/profile.png';

const profile = {
    name: 'Myriam L Reyes',
    title: 'Full Stack Developer',
    location: 'Hannover, Germany',
    description: `I am a full-stack web developer with a strong focus on user experience (UX/UI) and results-driven digital marketing.

I combine technical skills in HTML, CSS, JavaScript, Node.js, and Express.js with a solid understanding of user behavior and conversion flow, creating functional, visually appealing, and strategically designed websites that meet business goals.

I have experience building websites using MVC architecture, intuitive user interfaces, and optimized user journeys, as well as implementing integrations with the META ecosystem (Facebook Pixel, Conversion API, Instagram Ads) to maximize tracking accuracy, segmentation, and ad performance.

My approach bridges development and marketing — every line of code is written to improve usability, speed, technical SEO, and conversion rates.

🧠 What I bring to the table:

Frontend and backend development with clean architecture and scalable structure.
Functional UX/UI design focused on user experience and retention.
Website optimization for high-performance ad campaigns.
The ability to collaborate with marketing, design, and sales teams to align technical execution with strategic goals.

I am passionate about building websites that not only look great but also turn visitors into customers and empower brands to grow through technology.`
};
---

<div class="flex flex-col gap-6 items-center text-center sm:items-start sm:text-left">

    <div class="flex flex-col sm:flex-row gap-4 sm:items-center">

        <Picture
            src={ProfilePicture}
            formats={['webp']}
            width={96}
            height={96}
            alt={'Profile picture ' + profile.name}
            title={profile.name}
            class="w-24 h-24 rounded-xl object-cover border-2 border-primary mx-auto sm:mx-0"
        />

        <div>

            <h1 class="text-2xl font-extrabold mb-1 inline-block relative text-text-primary">
                {profile.name}
            </h1>

            <p class="text-sm mb-2 text-primary">
                {profile.title}
            </p>

            <p class="flex items-center justify-center sm:justify-start text-sm text-gray-400">
                <svg class="-mt-0.5 inline mr-2"fill=none height=14 stroke=currentColor stroke-linecap=round stroke-linejoin=round stroke-width=2 viewBox="0 0 24 24"width=14 xmlns=http://www.w3.org/2000/svg><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx=12 cy=10 r=3></circle></svg>
                {profile.location}
            </p>

        </div>

    </div>

    <p class="text-sm leading-relaxed mt-4 text-gray-400">
        {profile.description}
    </p>

</div>
